@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
	background: #dedede;
}
.contenedor{
	width: 354px;
	height: 600px;
	border: 1px solid black;
	margin: 0 auto;
	background: url(bienvenida-holly61.jpg);
}
h3{
	width: 75px;
	height: 310px;
	left: 16px;
	top: 16px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	margin-left: 18px;
}
h2{
	width: 177px;
	height: 22px;
	left: 16px;
	top: 333px;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	font-family: 'Poppins', sans-serif;
	margin-left: 18px;
}
p{
	width: 317px;
	height: 66px;
	left: 16px;
	top: 390px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #5F2074;
	font-family: 'Poppins', sans-serif;
	margin: 0 auto;
}
.Crear{
	width: 152px;
	height: 42px;
	right: 188px;
	top: 499px;
	background: linear-gradient(180deg, #941B80 0%, #2B2468 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-left: 18px;
}
.cuenta{
	position: absolute;
	width: 100px;
	height: 16px;
	right: 175px;
	top: 485px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
}
.iniciar{
	width: 152px;
	height: 42px;
	left: 188px;
	top: 499px;
	background: #FFFFFF;
	border-radius: 20px;
	font-family: 'Poppins', sans-serif;
}
.sesion{
	position: absolute;
	width: 100px;
	height: 16px;
	right: -134px;
	top: 485px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #5F2074;
	font-family: 'Poppins', sans-serif;
}